body, html {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #121C1E;
    align-items: center;
    padding: 10px;
}

.nav-element{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 0 20px;
    font-weight: 400;
    color: white;}

.logo{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/svg/tree.svg");
}

nav{
    display: flex;
    align-items: center;
}

.search{
    width: 360px;
    height: 40px;
    padding: 5px 25px;
    margin: 10px 0;
    margin-right: 30px;
    border-radius: 20px;
    border: 1px solid #FFF;
    color: #fff;
    font-size: 18px;
    background-color: rgba(35, 100, 120, .3);
    background-image: url("assets/svg/search.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 330px center;
    backdrop-filter: blur(6px);
}

.search:active,
.search:hover{
    background-image: none;
}

.favorites-counter{
    width: 50px;
    height: 70px;
    background-image: url("assets/svg/ball-2.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}

.favorites-counter span{
    background-color: #278D9F;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search-bar{
    display: flex;
    align-items: center;
}

main{
    background-image: url("assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}


.main-container{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100vh;
    backdrop-filter: blur(4px);
}

.options-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 40vh;
    margin-left: 5%;
    margin-top: 20px;
}


.filters-container{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 30%;
    height: 40vh;
    background-color: #278d9f8e ;
    border: solid 1px white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.form-buttons-container button{
  padding-left: 10px;
  margin-left: 10px;
  border: none;
  height: 40px;
  width: 40px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}


.form-buttons-container button:nth-child(1){
    background-image: url("assets/svg/ball.svg");
}


.form-buttons-container button:nth-child(2){
    background-image: url("assets/svg/bell.svg");
}

.form-buttons-container button:nth-child(3){
    background-image: url("assets/svg/cone.svg");
}

.form-buttons-container button:nth-child(4){
    background-image: url("assets/svg/snowflake.svg");
}

.form-buttons-container button:nth-child(5){
    background-image: url("assets/svg/toy.svg");
    height: 50px;
    width: 35px;
}


.color-buttons-container button{
  padding-left: 10px;
  margin-left: 10px;
  border: solid 1px white;
  box-sizing: border-box;
  border-radius: 2px;
  height: 30px;
  width: 30px;
}

.color-buttons-container button:nth-child(1){
    background-color: white;
}

.color-buttons-container button:nth-child(2){
    background-color: yellow;
}
.color-buttons-container button:nth-child(3){
    background-color: red;
}
.color-buttons-container button:nth-child(4){
    background-color: blue;
}
.color-buttons-container button:nth-child(5){
    background-color: green;
}

.size-buttons-container button{
  padding-left: 10px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
}

.size-buttons-container button:nth-child(1){
    background-image: url("assets/svg/ball.svg");
    height: 40px;
    width: 40px;
}

.size-buttons-container button:nth-child(2){
    background-image: url("assets/svg/ball.svg");
    height: 30px;
    width: 30px;
}

.size-buttons-container button:nth-child(3){
    background-image: url("assets/svg/ball.svg");
    height: 20px;
    width: 20px;
}


.favorite-container input{
  padding-left: 10px;
  margin-left: 10px;
}

.selectors-container{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 40vh;
    background-color: #278d9f8e ;
    border: solid 1px white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.sorting-container{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 40vh;
    background-color: #278d9f8e ;
    border: solid 1px white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.cards-container{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    min-height: 50vh;
    background-color: #278d9f1f ;
    border: solid 1px white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    font-size: 14px;
    gap: 20px 5%;
}

.card{
    width: 30%;
    height: 30vh;
    background-color: #18545e;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.card-name{
    text-align: center;
}

.card-box{
    display: flex;
    justify-content: space-around;
}

.figures-box{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.toy-image{
    width: 100px;
    height: 100px;
}

.favorite-button{
    width: 40px;
    height: 40px;
    background-color: rgb(42, 142, 160);
    border-radius: 50%;
}

.active{
    filter: brightness(0.5) sepia(0.5) saturate(10000%) hue-rotate(48deg) saturate(300%) brightness(150%);;
}

.color-buttons-container button.active{
    filter: none;
}

.color-buttons-container button.active::after{
        content: '';
        display: block;
        position: relative;
        bottom: 2px;
        height: 12px;
        border: solid #fff;
        border-width: 0 4px 4px 0;
        transform: rotate(45deg);
}

.color-buttons-container button.active:nth-child(1)::after,
.color-buttons-container button.active:nth-child(2)::after{
    border-color: #000;
}

.selector-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.count-container,
.year-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sort{
    appearance: none;
    padding-left: 10px;
    border: solid 1px white;
    font: inherit;
    width: 400px;
    height: 40px;
    background-color: rgba(31, 112, 127, .3);
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 1px solid #278D9F;
    font-size: 20px;
    color: #fff;
}

.reset{
    appearance: none;
    padding-left: 10px;
    border: solid 1px white;
    font: inherit;
    width: 400px;
    height: 40px;
    background-color: rgba(31, 112, 127, .3);
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 1px solid #278D9F;
    font-size: 20px;
    color: #fff;
}

input[type=range]{
    background: linear-gradient(to right, #278D9F 0%, #278D9F 100%, #C4C4C4 100%, #C4C4C4 100%);
    border: none;
    border-radius: 0;
    height: 8px;
    width: 300px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    margin: 20px 20px;
}

input[type=range]::-webkit-slider-thumb{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
}

.slider-number{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    font: inherit;
    width: 60px;
    height: 40px;
    background-color: rgba(31, 112, 127, .3);
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 1px solid #278D9F;
    font-size: 20px;
    color: #fff;
}

.slider-container{
   display: flex;
   flex-flow: row;
   justify-content: space-around;
   align-items: center;
}

button:hover{
   cursor: pointer;
}

.reset:hover{
   filter: grayscale(20%) sepia(0.5);
}

.sort:hover{
   filter: grayscale(20%) sepia(0.5);
   cursor: pointer;
}

.main-page-container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.main-text{
    width: 500px;
    height: 300px;
    padding: 5px 25px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #FFF;
    color: #fff;
    font-size: 50px;
    background-color: rgba(35, 100, 120, .3);
    backdrop-filter: blur(6px);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.toy-button{
    width: 120px;
    height: 40px;
    padding: 5px 25px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #FFF;
    color: #fff;
    font-size: 25px;
    background-color: rgba(35, 100, 120, .3);
    backdrop-filter: blur(6px);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
    text-transform: none;
}

.tree-page-container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.settings-container,
.tree-toys-container{
    width: 30%;
    height: 100%;
    background-color: rgba(31, 112, 127, .3);
    box-sizing: border-box;
}

.tree-container{
    width: 40%;
    height: 100%;
    background-image: url("./assets/bg/1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 40px;
}

.settings-box{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: start;
    flex-flow: row;
    margin-top: 10px;
}

.audio,
.snow{
    width: 40px;
    height: 40px;
}

.audio{
    background-image: url("./assets/svg/audio.svg");
    background-size: cover;
    margin-right: 10px;
}

.snow{
    background-image: url('./assets/svg/snow.svg');
    background-size: cover;
}

.background-box{
    height: 20vh;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px 0;
    margin-bottom: 40px;

}

.background-button{
    width: 95px;
    height: 95px;
    background-size: cover;
    border-radius: 10px;
}

.background-button:nth-child(1){
    background-image: url("./assets/bg/1.jpg");
}

.background-button:nth-child(2){
    background-image: url("./assets/bg/2.jpg");
}

.background-button:nth-child(3){
    background-image: url("./assets/bg/3.jpg");
}

.background-button:nth-child(4){
    background-image: url("./assets/bg/4.jpg");
}

.background-button:nth-child(5){
    background-image: url("./assets/bg/5.jpg");
}

.background-button:nth-child(6){
    background-image: url("./assets/bg/6.jpg");
}

.background-button:nth-child(7){
    background-image: url("./assets/bg/7.jpg");
}

.background-button:nth-child(8){
    background-image: url("./assets/bg/8.jpg");
}

.tree-pick-box{
    height: 20vh;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.tree-button{
    width: 95px;
    height: 95px;
    background-color: rgba(113, 163, 170, 0.301);
    border-radius: 10px;
    background-size: cover;
}

.tree-button:nth-child(1){
    background-image: url("./assets/tree/1.png");
}

.tree-button:nth-child(2){
    background-image: url("./assets/tree/2.png");
}

.tree-button:nth-child(3){
    background-image: url("./assets/tree/3.png");
}

.tree-button:nth-child(4){
    background-image: url("./assets/tree/4.png");
}

.garland-box{
    height: 20vh;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.garland-color{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.garland-color:nth-child(1){
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);;
}

.garland-color:nth-child(2){
    background-color: red;
}

.garland-color:nth-child(3){
    background-color: blue;
}

.garland-color:nth-child(4){
    background-color: yellow;
}
.garland-color:nth-child(5){
    background-color: green;
}

.garland-button{
    width: 50px;
    height: 50px;
    background-color:rgba(113, 163, 170, 0.301);
}

.fav-box{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.fav-box p{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.fav-toys-box{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.fav-toy-mini-box{
    width: 100px;
    height: 100px;
    background-color: rgba(113, 163, 170, 0.301);
    background-size: cover;
    position: relative;
}

.fav-toy{
    width: 90px;
    height: 90px;
    position: absolute;
    display: block;
    object-fit: contain;
    left: 5px;
    top: 5px;
}

.fav-toy-counter{
    width: 30px;
    height: 30px;
    background-color: rgba(113, 163, 170, 0.9);
    position: absolute;
    right: 0;
    bottom: 0; 
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    z-index: 3;
}

area{
  display: inline;
}

.tree-toys-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.finished-trees{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 20vh;
}

.tree-toys-container > p{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 0;
}